body
{
   color:#40514E;
   margin: 0;  /*see by default the website lives the some space at left and rigtht, so to nullyfi that, we use this */
   text-align:center;  /*this will bring all the elements to the center*/
}
h1
{
  /*font-size: 90px; this is the static font size*/
  /*font-size: 562.5%;  this is dynamic font-size: */
  /*font-size: 5.625em;  100%=1em=16px , even using em is also dynamic and prefer dynamic so that it helps all the viewer*/
  font-size: 5.625rem;  /*always prefer this root em, how to calculate is if we need 40px, just do 40/16=2.5, so give 2.5rem*/
  margin:50px auto 0 auto; /*this is for horizontal centering*/
  font-family:"sacramento";
  color:#66BFBF;
}
h2
{
  color:#66BFBF;
  font-family: "sacramento",sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  color:#11999E;
  font-family:"Montserrat",sans-serif;
}
p
{
  line-height: 2;
}
hr
{
  border:dotted #66BFBF 6px;
  border-bottom:none;
  width:4%;
  margin: 100px auto;
}
a  /*these are the ancatag, that is the links*/
{
  color: #11999E;
  font-family: 'Montserrat' sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #EAF6F6;
}
.circular
{
  border-radius: 100%;
}
.mypic
{
  width:200px;
  height:200px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto; /*this will center this element*/
  text-align: left;
  line-height: 2;  /*line height has no units, it is the hight difference between one line to its below line */
}
.computerimage
{
  width: 25%;  /*it is 25% of its parent i.s skill-row */
  float:left;  /*to bring image to left and text to right */
  margin-right: 30px; /*this brings a gape of 30 px to the left of the image*/
}
.electronicimage
{
  width:25%;
  float:right;
  margin-left: 30px;
}
.top-container
{
  background-color:#E4F9F5;
  position: relative;
  padding-top:100px;
}
.middle-container
{
     margin:100px 0px; /*100px for top and bottom , 0px for left and rigtht */
}
.bottom-container
{
     background-color: #66BFBF;
     padding: 40px 0px 20px;
}
.pro
{
  text-decoration: underline;
}
.top-cloud
{
  position: absolute;
  right:300px; /*see ots relative position is top container, not the whole page, this is because the cloud img is specified in this top-container div, therefore the top container is the parent gor this cloud img*/
  top:40px;
}
.bottom-cloud
{
  position: absolute;
  left:250px;
  bottom: 300;
}
.intro
{
  width: 30%;
  margin:auto;
}
.contact-message
{
  width:40%;
  margin: 40px auto 60px /* 40px from top, auto left and rigtht and 60px from bottom*/
}
.btn {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright
{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
